section {
  position: relative;
}

.fa {
  float: right;
  color: white;
  background-color: #277FC2;
  padding: 8px;
  border: 5px solid #58B0EC;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.headingArticle {
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.headingArticle.even {
  background-color: #58B0EC;
}

.headingArticle.odd {
  background-color: #277FC2;
}

.headline {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.date {
  color: gray;
  margin: 0;
}

.time {
  font-size: 150%;
  margin: 0;
}

.time.even {
  color: #58B0EC;
}

.time.odd {
  color: #277FC2;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  top: -19px;
  left: 20px;
}

.arrow.even {
  border-bottom: 10px solid #58B0EC;
}

.arrow.odd {
  border-bottom: 10px solid #277FC2;
}

@media screen and (min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  section {
    flex: 1 1 0;
    width: 90%;
    margin: auto;
  }

  .side {
    position: relative;
    float: left;
    width: 15%;
    display: inline-block;
    height: 100%;
  }

  .line {
    width: 5px;
    background-color: #58B0EC;
    right: 18px;
    top: 41px;
    position: absolute;
    height: 250px;
  }

  article {
    float: right;
    width: 80%;
  }

  .headingArticle {
    margin-top: 0;
  }

  .arrow {
    transform: rotate(270deg);
    left: -25px;
    top: 9px;
  }

}

@media screen and (min-width: 1024px) {
  section {
    width: 60%;
  }

  .time {
    font-size: 250%;
    position: relative;
    left: -39px;
  }


}
